#mainVisual .mainBanner li.on h2 {
  animation: ani1 1s ease-in-out 1;
}
#mainVisual .mainBanner li.on p:nth-of-type(1) {
  animation: ani2 1.3s ease-in-out 1;
}
#mainVisual .mainBanner li.on p:nth-of-type(2) {
  animation: ani3 1.3s ease-in-out 1;
}
@keyframes ani1 {
  0%,
  30% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes ani2 {
  0%,
  40% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes ani3 {
  0%,
  50% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
